body{
  background: #cbd0c5;
}
.app{
  margin: 70px auto;
  padding-top: 40px;
}
.film {
  display: inline-block;
  margin: 10px;
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: 0 2px 2px #ccc;
  width: 200px;
  padding: 20px;
}

img{
  width: 199px;
  border-radius: 2px;
}